# Server Configuration
PORT=3000

# Database Configuration (Choose one and uncomment/modify)
# For PostgreSQL:
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Default Admin User for Seeding
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="yourDefaultAdminPassword"

JWT_SECRET="your-very-strong-and-long-secret-key-here" # Replace with a real, strong secret
JWT_EXPIRES_IN="1h" # Example: token expires in 1 hour (e.g., 1h, 1d, 7d)